absl-py
aiohttp
aiosignal
altair
altgraph
anyio
api-clients
apiclient
appdirs
argon2-cffi
asgiref
async-generator
async-timeout
asynctest
attrs
autoclass
av
Babel
backcall
backports.zoneinfo
beautifulsoup4
bleach
blinker
boombox
bs4
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
commonmark
comtypes
cryptography
cycler
Cython
debugpy
decopatch
decorator
defusedxml
distlib
Django
django-crispy-forms
django-model-utils
docutils
effect
entrypoints
filelock
frozenlist
future
gitdb
GitPython
google-auth
google-auth-oauthlib
google-images-download
googlemaps
GoogleMapsApi
gspread
h11
halo
idn
image
importlib-metadata
imutils
ipykernel
ipython
ipython-genutils
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
Kivy
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
Kivy-Garden
kiwisolver
log-symbols
lxml
makefun
MarkupSafe
matplotlib
matplotlib-inline
mediapipe
mistune
mpi4py
multidict
nbclassic
nbclient
nbconvert
nbforma
nest-asynci
netifaceso
network
noteboo
numpy
oauthli
opencv-contrib-python
opencv-python
outcom
packagi
panda
pandocfilter
pars
pefile
pickleshar
Pillo
play-sound
playsoun
pluggy
plye
prettyprin
progress
progressbars
prometheus-client
prompt-toolkit
protobuf
psycopg
pyarrow
pyasn
pyasn1-module
pycpars
pycryptodome
pydeck
Pygment
pyinstal
pyinstaller-hooks-contrib
pyjniu
PyJW
Pymple
pyOpenSSL
pyparsin
pypiwi
pyrsistent
PySock
python-dateuti
python-magic
python-magic-bin
python-weathe
pytts
pytz
pytz-deprecation-shim
pywi
pywin32-ctype
pywinpt
pyzmq
requests
requests-oauthli
requests-unixsocke
rich
savepageno
scip
screen-brightness-control
se
selenium
semver
Send2Tras
simplejson
six
smma
sniffi
sortedcontainer
soupsi
speech-recognition-fork
SpeechRecognitio
spinners
sqlpars
streamlit
termcolo
terminado
testpat
tftp
toml
toolz
torn
tqdm
traitlet
trio
trio-websocket
twilio
twilog-web-archive
typing_extension
tzdata
tzlo
urllib2-fil
urllib3
validators
vbox
virtualenv
watchdo
wcwidt
webdriver-manager
webdrivermanager
webencoding
websocket-clien
wikipedi
wireless
WMI
wsproto
xmltodict
yarl
zipp
