absl-py
aiohttp
aiosignal
altair
altgraph
anyio
api-clients
apiclient
appdirs
argon2-cffi
asgiref
async-generator
async-timeout
asynctest
attrs
autoclass
av
Babel
backcall
backports.zoneinfo
beautifulsoup4
bleach
blinker
boombox
bs4
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
commonmark
comtypes
cryptography
cycler
Cython
debugpy
decopatch
decorator
defusedxml
distlib
Django
django-crispy-forms
django-model-utils
docutils
effect
entrypoints
filelock
frozenlist
future
gitdb
GitPython
google-auth
google-auth-oauthlib
google-images-download
googlemaps
GoogleMapsApi
gspread
h11
halo
idna
image
importlib-metadata
imutils
ipykernel
ipython
ipython-genutils
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
log-symbols
lxml
makefun
MarkupSafe
matplotlib
matplotlib-inline
mediapipe
mistune
mpi4py
multidict
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
networkx
notebook
numpy
oauthlib
opencv-contrib-python
opencv-python
outcome
packaging
pandas
pandocfilters
parso
pefile
pickleshare
Pillow
play-sounds
playsound
pluggy
plyer
prettyprint
progress
progressbars
prometheus-client
prompt-toolkit
protobuf
psycopg2
pyarrow
pyasn1
pyasn1-module
pycryptodome
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyjnius
PyJWT
Pympler
pyOpenSSL
pyparsing
pypiwin32
pyrsistent
PySocks
python-dateuti
python-magic
python-magic-bin
python-weather
pyttsx3
pytz
pytz-deprecation-shim
pywin32
pywin32-ctypes
pywinpty
pyzmq
requests
requests-oauthlib
requests-unixsocket
rich
savepagenow
scipy
screen-brightness-control
sed
selenium
semver
Send2Trash
simplejson
six
smmap
sniffio
sortedcontainers
soupsieve
speech-recognition-fork
SpeechRecognition
spinners
sqlparse
streamlit
termcolo
terminado
testpath
tftp
toml
toolz
torn
tqdm
traitlet
trio
trio-websocket
twilio
twilog-web-archive
typing_extension
tzdata
tzlo
urllib2-fil
urllib3
validators
vbox
virtualenv
watchdo
wcwidt
webdriver-manager
webdrivermanager
webencoding
websocket-clien
wikipedi
wireless
WMI
wsproto
xmltodict
yarl
zipp
